#
# A virtual host using mix of IP-, name-, and port-based configuration
#

server {
    listen       {{nginx_port}};
#    listen       somename:8080;
#    server_name  somename  alias  another.alias;
    root   /data/www/companyNews/static/;
    location / {
         root   /data/www/companyNews/static;
        index  index.html index.htm;
    }

    location   /companyNews/images/ {
        alias  /data/www/companyNews/static/images/;
    }

    location /companyNews {
     proxy_pass "http://{{tmc_ip}}:{{tmc_port}}";
    }


}

