<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="./styles/company.css">
</head>
<body>

<table width="100%">
 <tr>
     <td align="left" width="15%">
          <img src="./images/logo.png" alt="Company Logo">
     </td>
    <td align="center"  width="55%">
        <h1>Mega Super Duper Company</h1>
    </td>
    <td align="center">
        <a href="companyNews" class="timestamp"> Company news</a>
        
    </td>

 </tr>
</table>
</body>
</html>